<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to TechHookUp</title>
  </head>
  <body>
    <p>We help you fulfill your mission !</p>
    <form action="/profile">
      Your Name
      <input name="your_name"><br>
      Your City
      <input name="your_city"><br>
      Your Budget
      <input name="your_budget"><br>
      Your Bathroom Selfie in URL
      <input name="your_bathroom_selfie_in_url"><br>
      Your Project Title
      <input name="your_project_title"><br>
      <button type="submit">Generate Profile</button>
    </form>
  </body>
</html>
